[submodule "py"]
	path = py
	url = git://github.com/mtslzr/advent-of-code-py.git
[submodule "go"]
	path = go
	url = git://github.com/mtslzr/advent-of-code-go.git
[submodule "ts"]
	path = ts
	url = git://github.com/mtslzr/advent-of-code-ts.git
[submodule "php"]
	path = php
	url = git://github.com/mtslzr/advent-of-code-php.git
[submodule "rs"]
	path = rs
	url = git://github.com/mtslzr/advent-of-code-rs.git
