[submodule "py"]
	path = py
	url = git://github.com/mtslzr/aoc-py.git
[submodule "go"]
	path = go
	url = git://github.com/mtslzr/aoc-go.git
[submodule "ts"]
	path = ts
	url = git://github.com/mtslzr/aoc-ts.git
[submodule "php"]
	path = php
	url = git://github.com/mtslzr/aoc-php.git
[submodule "rs"]
	path = rs
	url = git://github.com/mtslzr/aoc-rs.git
[submodule "swift"]
	path = swift
	url = git://github.com/mtslzr/aoc-swift.git
